@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
}

.icon-login {
    color: #bd2130;
    background: -webkit-linear-gradient(#bd2130, #d23535);
    -webkit-background-clip: text;
    background-clip: text;
}

ul.nav-tabs,
.nav-tabs .nav-link.active {
    border: none;
}

.nav-tabs .pannel-btn {
    width: 155px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
