@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
}

.icon-login {
    color: #bd2130;
    background: -webkit-linear-gradient(#bd2130, #d23535);
    -webkit-background-clip: text;
    background-clip: text;
}