@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');


* {
  font-family: 'Montserrat', sans-serif;
}

.icon-login {
  color: #bd2130;
  background: -webkit-linear-gradient(#bd2130, #d23535);
  -webkit-background-clip: text;
  background-clip: text;
}

ul.nav-tabs,
.nav-tabs .nav-link.active {
  border: none;
}

.nav-tabs .pannel-btn {
  width: 155px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  border-radius: 4px;
  color: #bd2130;
}



.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #dc3545;
  border-color: #dc3545;
}


/*  switch button */
.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: #dc3545;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: "";
  height: 16px;
  margin-top: -8px;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background: #28a745;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  left: 20px;
}

.imgs-container img {
  width: 200px;
  height: 260px;
  display: inline-block;
  margin: 2.5px;
  border-radius: 6px;
}

.box span{
  padding-top: 2px;
  text-transform: capitalize;
}

.dont-cabitalize {
  text-transform: none !important;
}

.message {
  font-size: 13px;
  line-height: 1.4;
}

/* @media (max-width: 575.98px) { ... }

@media (max-width: 767.98px) { ... } */

@media (max-width: 991.98px) {
    .container {
      max-width: 100%;
    }
 }

/* @media (max-width: 1199.98px) { ... } */